<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Customers2ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\grace\Documents\Visual Studio 2012\Projects\LectureExamples\Topic6\App_Data\Customers2.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Customers.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages validateRequest="false" theme="Default"/>
    <authentication mode="Forms">
      <forms name="Topic5" path="~/Topic5/Restricted" loginUrl="~/Topic5/Login.aspx"
      protection="All" timeout="10"/>
    </authentication>

  </system.web>

</configuration>
